<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="EntidadCobranza" value="ENT"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiciosPostEntelPortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="ServiciosPostEntelPortBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://appweb.entelsn.local:7789/ServicioPostPago/ServiciosPostEntelService"
        binding="basicHttpBinding" bindingConfiguration="ServiciosPostEntelPortBinding"
        contract="WcfEntel.ServiciosPostEntel" name="ServiciosPostEntelPort" />
    </client>
  </system.serviceModel>
  <system.data>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>