<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="LogDatos" value="E:\LogErrores\WSENTEL\"/>
    
    <add key="Servidor" value="192.168.8.173/BGTS"/>
    <add key="Usuario" value="4057|4082|4050|4082|4080|4085|4023|4055"/>
    <add key="Password" value="4091|4012|4052|4065|4979|4904|4016|4091"/>
    <add key="BDatos" value=""/>
    
    <!--<add key="Servidor" value="192.168.6.160/BGDB"/>-->
    <!--<add key="Usuario" value="4028|4051|4050|4057|4050|4029" />-->
    <!--<add key="Password" value="4016|4030|4057|4050|4029|4035|4013" />-->

    <!-- ENTEL -->
    <add key="Entel_Usuario" value="WSBGANADE"/>
    <add key="Entel_Password" value="op3n3d"/>
    <!--<add key="Entel_Password" value="Ent3lG@na2018"/>-->
    <add key="Entel_EntidadFinaciera" value="123"/>
    <add key="Entel_EntidadCobranza" value="BCG"/>
    <add key="Entel_FormaPago" value="EF"/>
    <add key="Entel_TipoFactura" value="G"/>
    <!---->
    <!-- TOPAZ -->
    <add key="UsuarioTz" value="4082|4088|4088|"/>
    <add key="PasswordTz" value="4021|4947|4902|4904|4977|4975|4902|4035|"/>
    <add key="EnlaceTz" value="http://172.16.1.104:8280/jbankws/services/JBankBeanWS?wsdl" />
    <add key="LogExecTopaz" value="E:\LogErrores\WSENTEL\"/>
    <!---->
  </appSettings>
  <system.web>
    <customErrors mode="On" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    
    <bindings>
      <basicHttpBinding>
        <binding name="ServiciosPostEntelPortBinding" />
      </basicHttpBinding>
      <basicHttpsBinding>
        <binding name="ServiciosPostEntelPortBinding" />
      </basicHttpsBinding>
    </bindings>
    
    <!--<services>
      <service name="WcfGanadero.Service">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="web" contract="WcfGanadero.IService">
        </endpoint>
      </service>
    </services>-->
    
    <client>
      <!--<endpoint address="https://appweb.entelsn.local:7789/ServicioPostPago/ServiciosPostEntelService"-->
      <endpoint address="http://troya:8893/ServicioPostPago/ServiciosPostEntelService"
        binding="basicHttpBinding" bindingConfiguration="ServiciosPostEntelPortBinding"
        contract="WcfEntel.ServiciosPostEntel" name="ServiciosPostEntelPort" />
    </client>
    
    <behaviors>
      
      <!--<endpointBehaviors>
        <behavior name="web">
          <webHttp />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>-->
      
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http" />
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
